/* Style file create by JSharp 
===================================
00: CSS variables
01: Color
02: Topography

*/

/* 00: CSS variables */


/* 01: Color */
html {
    background-color: hsla(145, 35%, 89%, 0.9);
    padding: 5%
}

body {
    background-color: hsla(241, 86%, 47%, 0.5);
    padding: 5%
}





/* 02: Topography */

